/* ==== GLOBAL STYLING ==== */
/* ====  APPLY TO ALL PAGES ==== */

:root {
  font-family: 'Tahoma', 'Garamond';
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: black;
  background-color: #F7F5F2;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-height: 100vh;
}

h1{
  font-size: 2.8em;
  line-height: 1.1;
}

h2, h3, h4{
  font-size: 2em;
  line-height: 1.1;
}

p {
  font-size: 16px;
  line-height: 1;
}

button { 
  font-family: 'Tahoma';
  font-size: 1.2em;
  background-color: black;
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;

  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
button:hover {
  background-color: rgb(45, 45, 45);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
button:focus,
button:focus-visible {
  outline: none;
}