#categoryPage
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #DFDBDC;
}

#categoryPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}


#categoryTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: underline;
}

#skillGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 52px;
    margin-top: 30px;
}

#degreeSelector {
    display: flex;
    border-radius: 15px;
    margin: 35px;
    gap: 50px;
}

.degreeBtn {
    background: transparent;
    border: 2px solid #c9c9c9;
    padding: 15px 80px;
    border-radius: 9999px;
    font-size: 1.35rem;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    box-shadow: 0 0 6px #2b263f2f;
}

.degreeBtn:hover
{    
    background-color: transparent;
}

.degreeBtn.active {
    background-color: #2B263F;
    color: #fff;
    border: none;
}

.category_button
{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
    background: #EBC66B;
    border: none;
    border-radius: 999px;
    font-size: 1.35rem;
    font-weight: bold;
    padding: 15px 80px;
    cursor: pointer;
    align-self: center;
    white-space: nowrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.category_button:hover{ 
    background: #f1a33e;
}