#categoryPage
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#categoryPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}


#categoryTitle {
    font-size: 2.3rem;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

#skillGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 52px;
}

#degreeSelector {
    display: flex;
    background: #fff;
    border-radius: 34px;
    box-shadow: 0 2px 8px rgba(40,40,40,0.07);
    padding: 8px 16px;
    margin: 40px;
    gap: 8px;
}

.degreeBtn {
    background: transparent;
    border: none;
    padding: 6px 25px;
    border-radius: 22px;
    cursor: pointer;
    color: #1a1c2e;
}

.degreeBtn:hover
{
    background-color: rgb(198, 198, 198);
}


#categoryPagination {
    display: flex;
    justify-content: center;
    margin: 31px 0 0;
}

.paginationBtn {
    width: 46px;
    height: 38px;
    background: #212126;
    color: #fff;
    border: none;
    border-radius: 13px;
    margin: 0 6px;
    font-size: 2.0rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 14px rgba(44,44,50,0.10);
    transition: filter 0.13s;
}

.paginationBtn:hover {
    filter: brightness(95%);
}

.skillCard.selected {
    background-color: #b0e0ff;
    border: 2px solid #0077ff;
}

.degreeBtn.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transform: scale(1.05);
}
