/* === STYLING ONLY SPECIFIC TO THIS PAGE === */
#wholeDashboard
{
    position: relative;
    display: flex;
    justify-content: space-around;
}

#topPanel 
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#topPanel .backBtn
{
    position: absolute;
    top: 35%;
    left: 3%;
    color: black;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#topPanel .backBtn:hover
{
    transform: scale(1.1);
}

#dashboardContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

#cards
{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    /* Ensure it never exceeds screen width */
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.compareBtn
{
    position: fixed;
    bottom: 3%;
    right: 40%;
    z-index: 5;
}

.compareIco
{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.compareIco:hover
{
    transform: scale(1.1);
}

#sideContainer
{
    background-color: #ded9d3;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 37%;
    z-index: 999;
    display: flex;
    justify-content: center;
}

#beforeSelect
{
    display: flex;
    justify-content: center;
}

#myBookmarks
{
    position: absolute;
    top: 4%;
}

.infoDisplay
{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.infoDisplay h3
{
    line-height: 2em;
    font-weight: bold;
    font-size: 25px;
}