/* === STYLING ONLY SPECIFIC TO THIS PAGE === */
#wholeDashboard
{
    position: relative;
    display: flex;
    justify-content: space-around;
}

#topPanel 
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#topPanel .backBtn
{
    position: absolute;
    top: 35%;
    left: 3%;
    color: black;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#topPanel .backBtn:hover
{
    transform: scale(1.1);
}

#dashboardContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

#cards
{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    /* Ensure it never exceeds screen width */
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.compareBtn
{
    position: fixed;
    bottom: 3%;
    right: 40%;
    z-index: 5;
}

.compareBtn button
{
    all: unset;
    cursor: pointer;
}

.compareIco
{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.compareIco:hover
{
    transform: scale(1.1);
}

#sideContainer
{
    background-color: #ded9d3;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 37%;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

#beforeSelect
{
    display: flex;
    justify-content: center;
    height: 100vh;
}

#myBookmarks
{
    position: absolute;
    top: 4%;
}

.infoDisplay
{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.infoDisplay h3
{
    line-height: 2em;
    font-weight: bold;
    font-size: 25px;
}

#afterSelect
{
    margin-left: 50px;
    margin-right: 50px;
}

#topBar 
{
    display: flex;
    justify-content: space-between;
}

#topBar button
{
    all: unset;
    cursor: pointer;  
    margin: 20px 50px;
}

#topBar .cancelBtn
{
    position: absolute;
    left: 0;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#topBar .cancelBtn:hover
{
    transform: scale(1.1);
}

#topBar .bookmarkBtn
{
    position: absolute;
    right: 0;
}

#afterSelect #latestInfo
{
    text-align: center;
}

.headerSide
{
    font-size: 45px;
    padding-top: 25px;
}

#afterSelect #gridContent
{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

#afterSelect #roadMap
{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#roadMap h1
{
    line-height: 0;
}

#roadMap #mapContainer
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;

    max-height: 250px;
    overflow-y: auto;
}


.coursesContainer .outerBorder
{
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    text-align: left;
}

.coursesContainer .outerBorder h3
{
    font-weight: bolder;
    font-size: 20px;
}

.coursesContainer .theList
{
    margin-top: 20px;
}


#afterSelect #moreSection
{
    display: flex;
    justify-content: center;   
}

#moreSection button
{
    position: absolute;
    bottom: 3%;
    width: 85%;
}

#compare .cancelBtn
{
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 4%;
    left: 5%;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#compare .cancelBtn:hover
{
    transform: scale(1.1);
}

#compareGuide
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#compareGuide .infoDisplay
{
    gap: 2em;
}

#compareGuide #compareBtn
{
    margin-top: 100px;
}

#compareBtn button
{
    background-color: rgb(0, 100, 0);
}

#compareBtn button:disabled
{
    background-color: gray;
    cursor: not-allowed;
}

#compareBtn button:disabled:hover
{
    transition: none;
    transform: none;
    box-shadow: none;
}