/* === STYLING ONLY SPECIFIC TO THIS PAGE === */
#wholeDashboard
{
    position: relative;
    display: flex;
    justify-content: space-around;
    background: #DFDBDC;
}

#topPanel 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 63%;
    height: 210px;
    position: fixed;
    top: 0;
    z-index: 1;
    padding-top: 5px;
    background-color: #2B263F;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#topPanel .backBtn
{
    position: fixed;
    top: 5%;
    left: 3%;
    color: rgb(255, 255, 255);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#topPanel .backBtn:hover
{
    transform: scale(1.1);
}

#topPanel h1
{
    color: white;
    letter-spacing: 4px;
}

#dashboardContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding-bottom: 50px;
}

.filterBar
{
    width: 70%;
}

.filtersSection
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#cards
{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    padding-top: 250px;
    padding-left: 50px;
    padding-right: 50px;

    /* Ensure it never exceeds screen width */
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

#cards .notFoundMsg
{
    text-align: center;
}

#cards .notFoundContent
{
    font-style: italic;
    font-size: 15px;
}

.compareBtn
{
    position: fixed;
    bottom: 3%;
    right: 38%;
    z-index: 5;
}

.compareBtn button
{
    all: unset;
    cursor: pointer;
}

.compareIco
{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.compareIco:hover
{
    transform: scale(1.1);
}

#sideContainer
{
    background-color: #F0ECEB;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 37%;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

#beforeSelect
{
    display: flex;
    justify-content: center;
    height: 100vh;
}

#myBookmarks
{
    position: absolute;
    top: 4%;
}

#myBookmarks button
{
    background: #EBC66B;
    color: black;
    border-radius: 9999px;  
    padding: 15px 80px;
    font-weight: bold;
}

#myBookmarks button:hover
{
    background: #f1a33e;
}

.infoDisplay
{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.infoDisplay h2
{
    letter-spacing: 4px;
}

.infoDisplay h3
{
    font-size: 1.2em;
}

#afterSelect
{
    margin-left: 50px;
    margin-right: 50px;
}

#topBar 
{
    display: flex;
    justify-content: space-between;
}

#topBar button
{
    all: unset;
    cursor: pointer;  
    margin: 20px 50px;
}

#topBar .cancelBtn
{
    position: absolute;
    top: 3%;
    left: 0;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#topBar .cancelBtn:hover
{
    transform: scale(1.1);
}

#topBar .bookmarkBtn
{
    position: absolute;
    right: 0;
    top: 3%;
}

#afterSelect #latestInfo
{
    text-align: center;
}

.headerSide
{
    font-size: 2em;
    padding-top: 40px;
    letter-spacing: 4px;
}

#afterSelect #gridContent
{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

#afterSelect #roadMap
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: 12%;
    position: fixed;
    width: 32%;
}

#roadMap h1
{
    line-height: 0;
}

#roadMap #mapContainer
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    max-height: 310px;
    overflow-y: auto;
}

#roadMap .headerSide
{
    padding-top: 15px;
}

.coursesContainer .outerBorder
{
    padding: 20px;
    background: #413E5B;
    color: white;
    border-radius: 10px;
    text-align: left;
}

.coursesContainer .outerBorder h3
{
    font-weight: bolder;
    font-size: 20px;
}

.coursesContainer .theList
{
    margin-top: 20px;
}


#afterSelect #moreSection
{
    display: flex;
    justify-content: center;   
}

#moreSection button
{
    position: absolute;
    bottom: 3%;
    width: 85%;
    background: #EBC66B;
    color: black;
    font-weight: bold;
    font-size: 1.2em;  
    border-radius: 9999px;  
    padding: 15px 80px;
}

#moreSection button:hover
{
    background: #f1a33e;
}

#compare .cancelBtn
{
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 7%;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#compare .cancelBtn:hover
{
    transform: scale(1.1);
}

#compareGuide
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#compareGuide .infoDisplay
{
    gap: 2em;
}

#compareGuide #compareBtn
{
    margin-top: 100px;
}

#compareBtn button
{
    background-color: #EBC66B;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px 80px;
    border-radius: 9999px;
}

#compareBtn button:hover
{
    background: #f1a33e;
}

#compareBtn button:disabled
{
    background-color: gray;
    color: rgb(238, 238, 238);
    font-weight: bold;
    cursor: not-allowed;
}

#compareBtn button:disabled:hover
{
    transition: none;
    transform: none;
    box-shadow: none;
}