/* === STYLING ONLY SPECIFIC TO THIS PAGE === */
#homeContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #2B263F;
  color: white;
  align-items: center;
}

/* --- top bar --- */
#homeContainer #topBar{
  padding: 20px 10px;
  position: absolute;
  left: 0;
  top: 0;
}

#logoText{ 
  font-weight: 800; 
  font-size: 1rem; 
  padding-left: 25px; 
  color: #b7acbd;
}

/* --- hero --- */
#heroSection{
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}

#heroSection h2{
  font-family: 'Tahoma', 'Garamond';
  font-size: 2.8em;
  letter-spacing: 3px;
}

#heroSection h1{
  margin: 40px;
  font-weight: 1000;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  line-height: 75px;
  letter-spacing: 0.1px;
}

#buttonRow{ 
  margin-top: 70px; 
}

#buttonRow a{ 
  text-decoration: none; 
}
#buttonRow button{
  margin: 0 50px;
  padding: 15px 80px;
  border: none;
  border-radius: 9999px;
  background: #EBC66B;
  color: #000000;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
}
#buttonRow button:hover{ 
  background: #f1a33e;
}

#buttonRow #visitorBtn
{
  background: #2B263F;
  border: 2px solid white;
  color: white;
}

#buttonRow #visitorBtn:hover
{
  background: #413E5B;
}

/* --- how it works --- */
#howItWorks{
  width: 100%;
  height: 100%;
  background: #DFDBDC;
}
#howItWorks h3{
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 80px;
  color: #332F40;
}

#howItWorks #content
{
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* steps row (circles + mini-dots + text blocks) */
#stepsRow{
  display: flex;
  justify-content: center;
  align-items: flex-start;   /* align all items from the top */
  gap: 80px;
  flex-wrap: wrap;
}

/* each step (circle + paragraph) */
.step{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* big bubble */
.circle{
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #332F40;
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  display: grid;
  place-items: center;
  margin: 0;
}

/* description under bubble */
.step p{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
  color: #332F40;
}

.miniDots{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 28px;          /* <-- key: centers tiny dots to the big circle */
}

.miniDots span{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #332F40;
  display: inline-block;
  opacity: 0.9;
}