.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    background: #DFDBDC;
}

.login-container {
    background: #2B263F;
    color: #fff;
    border-radius: 15px;
    width: 480px;
    padding: 38px 34px 42px 34px;
    box-shadow: 0 0 20px #2B263F80;
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
    margin-top: 2px;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: underline
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .fsd{
    margin-bottom: 20px;
}

.login-label {
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.login-input {
    height: 42px;
    border: none;
    border-radius: 10px;
    margin-bottom: 17px;
    box-shadow: 0 2px 2px #bdbdbd;
    background: #e9e9e9;
    font-size: 1.09rem;
    padding: 0 12px;
}

.login-button {
    margin-top: 28px;
    color: #000000;
    background: #EBC66B;
    border: none;
    border-radius: 9999px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 15px 80px;
    cursor: pointer;
    align-self: center;
    white-space: nowrap;
}

.login-button:hover{ 
    background: #f1a33e;
}

.login-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error-text
{
    font-style: italic;
    color: #ff5a31;
}


.signup-text {
    margin-top: 40px;
    text-align: left;
    font-size: 0.95rem;
}

.signup-text a {
    color: #dbc5ff;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.password-input {
    padding-right: 45px;
    width: 100%;
    margin-bottom: 0;
}

.password-toggle-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    user-select: none;
}


