.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.login-container {
    background: #ddd;
    border-radius: 8px;
    width: 480px;
    padding: 38px 34px 42px 34px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 2.3rem;
    margin-bottom: 50px;
    margin-top: 2px;
    text-align: center;
    text-decoration: underline;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-label {
    margin-top: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 9px;
}

.login-input {
    height: 42px;
    border: none;
    border-radius: 3px;
    margin-bottom: 17px;
    box-shadow: 0 2px 2px #bdbdbd;
    background: #e9e9e9;
    font-size: 1.09rem;
    padding: 0 12px;
}

.login-button {
    margin-top: 28px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 1.18rem;
    padding: 12px 44px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 1px 4px #75757570;
    width: 165px;
    align-self: flex-start;
}


.login-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.signup-text {
    margin-top: 20px;
    text-align: left;
    font-size: 0.95rem;
}

.signup-text a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.password-input {
    padding-right: 45px;
    width: 100%;
    margin-bottom: 0;
}

.password-toggle-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    user-select: none;
}


