.register-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register-container {
    background: #ddd;
    border-radius: 8px;
    width: 500px;
    padding: 38px 34px 42px 34px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.register-title {
    font-size: 2.3rem;
    margin-bottom: 50px;
    margin-top: 2px;
    text-align: center;
    text-decoration: underline;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-label {
    margin-top: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 9px;
}

.register-input {
    height: 42px;
    border: none;
    border-radius: 3px;
    margin-bottom: 17px;
    box-shadow: 0 2px 2px #bdbdbd;
    background: #e9e9e9;
    font-size: 1.09rem;
    padding: 0 12px;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.password-input {
    padding-right: 45px;
    width: 100%;
    margin-bottom: 0;
}

.password-toggle-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    user-select: none;
}

.register-button {
    margin-top: 28px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 1.18rem;
    padding: 12px 44px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 1px 4px #75757570;
    width: 165px;
    align-self: flex-start;
    transition: all 0.3s ease;
}

.register-button:disabled {
    background-color: #888;
    color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.register-button:disabled:hover {
    cursor: not-allowed;
    background-color: #888;
}

.register-button:hover:not(:disabled) {
    background: #333;
}
