.register-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #DFDBDC;
}

.register-container {
    background: #2B263F;
    color: #fff;
    border-radius: 15px;
    width: 500px;
    padding: 45px;
    box-shadow: 0 0 20px #2B263F80;
}

.register-title {
    font-size: 1.8rem;
    margin-bottom: 40px;
    margin-top: 2px;
    text-align: center;
    letter-spacing: 4px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-label {
    margin-top: 12px;
    font-size: 1.2rem;
    margin-bottom: 9px;
}

.register-input {
    height: 42px;
    border: none;
    border-radius: 10px;
    margin-bottom: 17px;
    box-shadow: 0 2px 2px #bdbdbd;
    background: #e9e9e9;
    font-size: 1.09rem;
    padding: 0 12px;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.password-input {
    padding-right: 45px;
    width: 100%;
    margin-bottom: 0;
}

.password-toggle-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    user-select: none;
}

.register-button {
    margin-top: 50px;
    background: #2B263F;
    border: 2px solid white;
    color: white;
    border-radius: 9999px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 15px 80px;
    cursor: pointer;
    align-self: center;
    white-space: nowrap;
}

.register-button:hover{ 
    background: #413E5B;
}

.register-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}