.roadMapItem
{
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    align-content: center;
    margin-bottom: 10px;
}

.roadMapItem h4
{
    font-weight: bold;
    margin: 15px;
    word-wrap: break-word;
}