/* === STYLING ONLY SPECIFIC TO THIS COMPONENT === */

#cardContainer
{
    display: flex;
    width: 400px;
    max-height: 400px;
    align-items: center;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    color: #333;

    transition: 0.2s ease-in-out;
}

#cardContainer:hover
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
}

.cardContent 
{
    width: 100%;
}

.cardContent .selected
{
    opacity: 1;
}

.cardContent .unselected
{
    opacity: 0.4;
}

.cardContent .unselected .cardbottom button:hover
{
    cursor: not-allowed;
    transition: none;
    transform: none;
    box-shadow: none;
}

.cardContent h1
{
    font-size: 30px;
    margin: 0;
}

.cardContent h2, h3, h4
{
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 5px;
}

.cardContent .checkbox
{
    display: flex;
    justify-content: end;
}

input[type="checkbox"]
{
    width: 20px; /* Desired width */
    height: 20px; /* Desired height */
    cursor: pointer;
}

.cardContent .sub-desc
{
    font-size: 12px;
    margin: 0;
    color: #828282;
}

.cardContent .desc
{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
}

.cardContent p
{
    font-size: 15px;
    line-height: 1.4;
}

.cardbottom
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 5px;
}

.cardbottom .courseType
{
    font-family: 'Georgia';
    font-size: 15px;
    border: 1px solid black;
    padding: 3px 5px;
}

.cardbottom button
{
    padding: 15px;
    font-size: 16px;
    background-color: #666666;
}