.skillContainer {
    width: 290px;
    height: 120px;
    padding: 18px;
    border: 2px solid #c9c9c9;
    background-color: #e9e7e7;
    border-radius: 17px;
    margin: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px #2b263f2f;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.skillContainer:hover {
    box-shadow: 0 0 10px #2B263F4d;
}

.skillContent {
    display: flex;
    align-items: center;
}

.skillIcon {
    font-size: 42px;
}

.skillTitle {
    font-size: 1.35rem;
    font-weight: bold;
}

.skillContainer.selected {
    background-color: #2B263F;
    color: #ffffff;
    box-shadow: 0 0 10px #2B263F4d;
    transform: scale(1.05);
}